@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  position: relative;
  width: 100%;
  height: 230px;
  background: url("https://i.postimg.cc/t4wJvv0G/hero-image-wr.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .hero {
    height: 350px;
  }
}
.hero svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-page {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 90%;
  padding-inline: 20px;
}
.home-page .home-content {
  background-color: #1B1D1F;
  width: 100%;
}
.home-page main {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-block-end: 20px;
}
@media (min-width: 768px) {
  .home-page .home-content {
    position: absolute;
    top: -80px;
    width: 90%;
    height: auto;
    border-radius: 14px;
    border: 1px solid #6C727F;
  }
}
@media (min-width: 1024px) {
  .home-page main {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 20px;
  color: #6C727F;
  font-size: 0.9rem;
  gap: 20px;
}
.header-container .search {
  display: flex;
  gap: 10px;
  background-color: #282B30;
  padding: 5px 10px;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  min-width: 150px;
  max-width: 350px;
}
.header-container .search input {
  width: 100%;
  height: 90%;
  border: none;
  outline: none;
  background-color: transparent;
  color: #D2D5DA;
  font-size: 0.9rem;
  font-family: "Be Vietnam Pro", sans-serif;
}
.header-container .search input::placeholder {
  color: #6C727F;
  font-weight: 500;
  font-family: "Be Vietnam Pro", sans-serif;
}

.filters {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  width: 100%;
  gap: 20px;
}

.sort-filter {
  width: 100%;
}
.sort-filter .sort-title {
  color: #6C727F;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.sort-filter select {
  width: 100%;
  height: 90%;
  outline: none;
  background-color: transparent;
  border: 2px solid #282B30;
  padding: 8px;
  border-radius: 8px;
  color: #D2D5DA;
  font-size: 0.9rem;
  font-family: "Be Vietnam Pro", sans-serif;
}
.sort-filter select option {
  background-color: #1B1D1F;
  color: #D2D5DA;
  font-size: 0.9rem;
  font-family: "Be Vietnam Pro", sans-serif;
}

.region-filter .region-title {
  color: #6C727F;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.region-filter .regions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.region-filter .regions-container .regions-item {
  display: flex;
  justify-content: space-evenly;
  padding: 8px;
  border-radius: 8px;
  color: #6C727F;
  font-size: 0.9rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.region-filter .regions-container .regions-item-active {
  background-color: #282B30;
  color: #D2D5DA;
}

.onu-member-filter .onu-member-title {
  color: #6C727F;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.onu-member-filter .onu-member-checkbox-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  font-size: 0.8rem;
  color: #D2D5DA;
}
.onu-member-filter .onu-member-checkbox-container div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.onu-member-filter .onu-member-checkbox-container div input[type=checkbox] {
  cursor: pointer;
}

.table-container {
  width: 100%;
  padding-inline: 20px;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.table-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.country-container {
  width: 100%;
  border-collapse: collapse;
}
.country-container .country-container-header {
  border-bottom: 1px solid #6C727F;
}
.country-container .country-container-header th {
  width: 100px;
  text-align: left;
  padding: 20px 5px;
  color: #6C727F;
  font-size: 0.9rem;
  font-weight: 600;
}
.country-container tbody td {
  padding: 20px 5px;
  color: #D2D5DA;
  text-align: left;
  margin-right: 10px;
}
.country-container tbody .country-flag {
  width: 100px;
  height: 100px;
  min-width: 100px;
  margin-right: 10px;
}
.country-container tbody .country-flag img {
  border-radius: 14px;
  width: 80%;
  height: 100%;
  max-width: 100px;
  object-fit: cover;
}

td span {
  display: block;
  border-radius: 14px;
  width: 100%;
  max-width: 100px;
  height: 20px;
  background-color: #282B30;
  animation: loading 1.5s infinite;
}

.country-flag-loading {
  padding: 20px 5px;
  width: 100px;
  height: 100px;
}
.country-flag-loading span {
  display: block;
  border-radius: 14px;
  width: 100px;
  height: 60px;
  background-color: #282B30;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0%, 100% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
.country-page {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 90%;
  padding-inline: 20px;
}
.country-page .country-page-content {
  background-color: #1B1D1F;
  width: 100%;
}
.country-page main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-end: 20px;
  gap: 20px;
}
@media (min-width: 768px) {
  .country-page .country-page-content {
    position: absolute;
    top: -80px;
    width: 90%;
    max-width: 800px;
    height: auto;
    border-radius: 14px;
    border: 1px solid #6C727F;
  }
}

main .country-page-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  position: relative;
  top: -50px;
}
main .country-page-header img {
  border-radius: 14px;
}
main .country-page-header .country-names {
  text-align: center;
  color: #D2D5DA;
}
main .country-page-header .main-info-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  width: auto;
}
main .country-page-header .main-info-container p {
  display: flex;
  gap: 14px;
  color: #D2D5DA;
  font-size: 1rem;
  font-weight: medium;
  background-color: #282B30;
  border-radius: 14px;
  padding: 10px 10px;
}
main .country-page-header .main-info-container p span:nth-child(1) {
  border-right: 1px solid #1b1a1a;
}
main .country-page-header .main-info-container p span {
  padding: 10px 10px;
}
main .aditional-info-container {
  width: 100%;
}
main .aditional-info-container p {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  border-bottom: 0.2px solid rgba(82, 82, 82, 0.387);
  color: #D2D5DA;
  font-size: 0.9rem;
  font-weight: 600;
}
main .aditional-info-container p:first-child {
  border-top: 0.2px solid rgba(82, 82, 82, 0.387);
}
main .aditional-info-container p span:nth-child(1) {
  color: #6C727F;
}
main .neighbouring-countries-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 10px;
}
main .neighbouring-countries-container h2 {
  color: #6C727F;
  font-size: 1rem;
}
main .neighbouring-countries-container .flags-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
  color: #D2D5DA;
  font-size: 0.8rem;
}
main .neighbouring-countries-container .flags-container .img-container {
  width: 100px;
  height: 100px;
  min-width: 100px;
  padding: 5px 0px;
  overflow: hidden;
}
main .neighbouring-countries-container .flags-container .img-container img {
  border-radius: 14px;
  width: 100%;
  height: 80%;
}

body {
  background-color: #1B1D1F;
  font-family: "Be Vietnam Pro", sans-serif;
}/*# sourceMappingURL=App.css.map */