.table-container {
    width: 100%;
    padding-inline: 20px;
    overflow-x: scroll;
}

.country-container {
    width: 100%;
    border-collapse: collapse;
    .country-container-header {
        border-bottom: 1px solid $tertiary-color;
        th {
            width: 100px;
            text-align: left;
            padding: 20px 5px;
            color: $tertiary-color;
            font-size: .9rem;
            font-weight: 600;
        }
    }
    tbody {
        td {
            padding: 20px 5px;
            color: $text-color;
            text-align: left;
            margin-right: 10px;
        }
        .country-flag {
            width: 100px;
            height: 100px;
            min-width: 100px;
            margin-right: 10px;
        }
        .country-flag img {
            border-radius: 14px;
            width: 80%;
            height: 100%;
            max-width: 100px;
            object-fit: cover;
        }
    }
}