@import './responsive.scss';
.home-page {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 90%;
    padding-inline: 20px;
    .home-content {
        background-color: $primary-color;
        width: 100%;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-block-end: 20px;
    }
    @include tablet {
        .home-content {
            position: absolute;
            top: -80px;
            width: 90%;
            height: auto;
            border-radius: 14px;
            border: 1px solid $tertiary-color;
        }
    }
    @include desktop {
        main {
            display: grid;
            grid-template-columns: 1fr 3fr;
        }
    }
}

