$primary-color: #1B1D1F;
$secondary-color: #282B30;
$tertiary-color: #6C727F;
$text-color: #D2D5DA;
$blue-color: #4E80EE;
$text-font: 'Be Vietnam Pro', sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './_hero.scss',
        './_responsive.scss',
        './_homePage.scss',
        './_header.scss',
        './_filters.scss',
        './_countryContainer.scss',
        './loadingSkeleton.scss',
        './_countryPage.scss';

body {
  background-color: $primary-color;
  font-family: $text-font;
}




